.tdc {
display: table;
margin: auto;
overflow-wrap: anywhere;
}

.tdc_titulo {
    font-weight: 700;
    text-align: center;
}

.fijo {
position: sticky;
top: 64px;
}

ol {
    padding-inline-start: 25px;
}

iframe{
    width: 100%;
    height: 550px;
}
